export(adjustBeta, getCorr, getReturns, optimalPort, portCloud, portPossCurve, portReturn, stockModel, testPort)

S3method(lines, stockReturns)
S3method(lines, testPort)
S3method(pairs, stockReturns)
S3method(plot, optimalPortfolio)
S3method(plot, portReturn)
S3method(plot, stockModel)
S3method(plot, stockReturns)
S3method(plot, testPort)
S3method(points, optimalPortfolio)
S3method(points, portReturn)
S3method(points, stockModel)
S3method(points, testPort)
S3method(print, optimalPortfolio)
S3method(print, portReturn)
S3method(print, stockModel)
S3method(print, stockReturns)
S3method(print, testPort)
S3method(summary, optimalPortfolio)
S3method(summary, portReturn)
S3method(summary, stockModel)
S3method(summary, stockReturns)
S3method(summary, testPort)